<div *ngIf="fanfic" class="row">
    <div class="col-md-6 new-user-alert">
        <h2>Edit <strong>{{ fanfic.title }}</strong></h2>
    </div>
</div>

<div *ngIf="fanfic" class="row">
    <div class="col-md-6 content">
        <div *ngIf="serverErrors != null" class="alert alert-danger">
            {{ serverErrors }}
        </div>

        <div class="form-group">
            <label>Title</label>
            <input #TitleBox (keyup)="checkValidation()" [(ngModel)]="fanfic.title" placeholder="Title" class="form-control" disabled/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea #DescriptionBox (keyup)="checkValidation()" [(ngModel)]="fanfic.description" class="form-control" rows="5" id="description" placeholder="Description" disabled></textarea>
        </div>

        <div class="form-group">
            <p *ngIf="!genres">
                <em>Loading...</em>
            </p>

            <div *ngIf="genres.length != 0">
                <label>Select genre</label>
                <select [(ngModel)]="fanfic.genre" class="input form-control pdi-spacing-02" name="first" disabled>
                    <option *ngFor="let genre of genres">{{ genre }}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Add tags</label>
            <div class="input-group">
                <input #TagBox (keyup)="onTagInput(TagBox.value)" placeholder="Tag name" class="form-control" />
                <div class="input-group-btn">
                    <button [disabled]="!isValidTag" (click)="onTagSubmit()" class="btn btn-primary" type="submit">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="tags.length != 0" class="form-group">
            <label>Your tags</label>
            <div *ngFor="let t of tags" class="input-group col-xs-5">
                <input class="form-control" value="{{ t }}" disabled />
                <div class="input-group-btn">
                    <button (click)="onTagDelete(t)" class="btn btn-danger" type="submit">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </div>
        </div>

        <button (click)="goBack()" type="submit" class="btn btn-primary">Go back</button>
    </div>

    <div *ngIf="addChapter" class="col-md-6 content">
        <div class="form-group">
            <label>Chapter Title</label>
            <input #ChapterTitleBox (keyup)="checkChapterValidation()" [(ngModel)]="chapter.title" placeholder="Chapter title" class="form-control" />
        </div>
        <div class="form-group">
            <label>Chapter text</label>
            <textarea #DescriptionBox (keyup)="checkChapterValidation()" [(ngModel)]="chapter.chapterText" class="form-control" rows="16" id="description" placeholder="ChapterText"></textarea>
        </div>
        <button [disabled]="!isChapterValid" (click)="onAddChapterSubmit()" type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus-sign"></i>
        </button>
        <button (click)="addChapter = false" class="btn btn-danger" type="submit">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
    </div>

    <div class="col-md-6 content">
        <div class="form-group" *ngIf="!addChapter && chapters.length != 0">
            <label>Chapters</label>
            <div *ngFor="let chap of chapters" class="input-group">
                <input class="form-control" value="{{ chap.title }}" disabled />
                <div class="input-group-btn">
                    <button (click)="onChapterEdit(chap)" class="btn btn-primary" type="submit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                    <button (click)="onChapterDelete(chap)" class="btn btn-danger" type="submit">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="addChapter" (click)="onAddChapter()" type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i> Add chapter
            </button>
        </div>
    </div>
</div>