<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />

<div class="media">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
        <img class="img-circle" src="{{ currentUser.pictureURL }}">
    </div>
    <div class="col-md-8 content">
        <h2>{{ currentUser.userName }}'s profile</h2>
        <p class="text-info">Here you can see all <strong>{{ currentUser.userName }} posts.</strong></p>
    </div>
</div>

<p *ngIf="!fanfics">
    <em>{{ currentUser.userName }} have not added any fanfics yet.</em>
</p>

<div *ngIf="fanfics" class="container col-md-11 fanfics">
    <div *ngFor="let fanfic of fanfics">
        <fanfic-short [fanfic]="fanfic"></fanfic-short>
    </div>
</div>