<h2 *ngIf="!fanfic">
    <em>Page not found</em>
</h2>

<div *ngIf="fanfic" class="col-md-11">
    <img class="img-thumbnail center-block" src="{{ fanfic.picture_url }}">
    <h2>{{ fanfic.title }}</h2>

    <ul class="list-inline list-unstyled">
        <li>
            <h4 class="info">Genre:</h4>
        </li>
        <li>
            <a routerLink="/bygenre/{{ fanfic.genre }}">
                <h4><strong>{{ fanfic.genre }}</strong></h4>
            </a>
        </li>
    </ul>
    
    <ul *ngIf="fanfic.tags != 0" class="list-inline list-unstyled">
        <li>
            <h4>Tags:</h4>
        </li>
        <li *ngFor="let tag of fanfic.tags">
            <a routerLink="/bytag/{{ tag }}">
                <span class="label label-default">{{ tag }}</span>
            </a>
        </li>
    </ul>

    <ul class="list-inline list-unstyled content">
        <li>
            <a routerLink="/user/{{ fanfic.author_username }}">
                <img class="img-circle" src="{{ fanfic.author_picture_url }}">
            </a>
        </li>
        <li>
            <p>By <a routerLink="/user/{{ fanfic.author_username }}"><strong>{{ fanfic.author_username }}</strong></a></p>
        </li>
        <li>|</li>
        <li><span><i class="glyphicon glyphicon-calendar"></i> {{ fanfic.creation_date }} </span></li>
        <li>|</li>
        <li>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </li>
    </ul>

    <div class="well">
        <h4>Description:</h4>
        <p>{{ fanfic.description }}</p>
    </div>

    <div *ngIf="chapters.length != 0" class="content">
        <h4>Chapters</h4>
        <div *ngFor="let chap of chapters">
            <input type="button" class="btn btn-default" value="{{ chap.title }}" (click)="selectChapter(chap)">
        </div>
        <div *ngIf="chapterSelected" class="well">
            <h4>{{ chapter.title }}</h4>
            <p>{{ chapter.chapterText }}</p>
        </div>
    </div>

    <div class="col-md-6 content">
        <h4>Comments</h4>
    </div>
    
    <div *ngIf="isAuthenticated" class="form-group">
        <div class="form-group">
            <textarea #CommentBox (keyup)="checkValidation()" [(ngModel)]="comment.comment" class="form-control" rows="3" id="comment" placeholder="Your comment"></textarea>
        </div>
        <div class="form-group">
            <button [disabled]="!isValid" (click)="onCommentSubmit()" class="btn btn-primary" type="submit">
                <i class="glyphicon glyphicon-plus-sign"></i> Add Comment
            </button>
        </div>
    </div>

    <div *ngIf="comments.length != 0" class="col-md-6 content comments">
        <ul class="media-list comments">
            <comment *ngFor="let comm of comments" [comment]="comm"></comment>
        </ul>
    </div>
    <div *ngIf="comments.length == 0" class="col-md-6 content">
        <h4><em>No comments yet, go ahead and create first one!</em></h4>
    </div>

</div>