<div *ngIf="fanfic.title != ''" class="well col-md-11">
    <div class="media">
        <a class="pull-left" routerLink="/fanfic/{{ fanfic.id }}">
            <img class="media-object" src="{{ fanfic.picture_url }}">
        </a>
        <div class="media-body content">
            <a routerLink="/fanfic/{{ fanfic.id }}">
                <h4 class="media-heading"><strong>{{ fanfic.title }}</strong></h4>
            </a>
            <ul *ngIf="isOwner" class="list-inline list-unstyled">
                <li class="button-keeper">
                    <button class="btn btn-primary" (click)="onEdit()">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </li>
                <li class="button-keeper">
                    <button class="btn btn-danger" (click)="onDelete()">
                        <i class="glyphicon glyphicon-remove-sign"></i>
                    </button>
                </li>
            </ul>
            <a routerLink="/bygenre/{{ fanfic.genre }}">
                <h4 class="media-heading">{{ fanfic.genre }}</h4>
            </a>
            <p>{{ fanfic.description }}</p>
            <ul *ngIf="fanfic.tags != 0" class="list-inline list-unstyled">
                <li>
                    <p><strong>Tags: </strong></p>
                </li>
                <li *ngFor="let tag of fanfic.tags">
                    <a routerLink="/bytag/{{ tag }}">
                        <span class="label label-default">{{ tag }}</span>
                    </a>
                </li>
            </ul>
            <ul class="list-inline list-unstyled">
                <li>
                    <p>By <a routerLink="/user/{{ fanfic.author_username }}"><strong>{{ fanfic.author_username }}</strong></a></p>
                </li>
                <li>|</li>
                <li><span><i class="glyphicon glyphicon-calendar"></i> {{ fanfic.creation_date }} </span></li>
                <li>|</li>
                <span><i class="glyphicon glyphicon-comment"></i> {{ commentCount }} comments</span>
                <li>|</li>
                <li>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </li>
            </ul>
        </div>
    </div>
</div>