<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a [routerLink]="['/home']" class="navbar-brand">iFanfics</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">genres<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let genre of genres">
                            <a>{{ genre.genreName }}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">recent tags<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let tag of tags">
                            <a>{{ tag.tagName }}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    
                </li>
            </ul>
            <div class="col-lg-5">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            <auth></auth>
        </div>
    </div>
</nav>